<% layout('layouts/boilerplate')%>
<div class="container">
    <h1>All Blogs</h1>

    <% for (let blog of blogs){%>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <%if(blog.images.length) {%>
                <img class="img-fluid" alt="" src="<%=blog.images[0].url%>">
                <% }else {%>
                <img class="img-fluid" alt=""
                    src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= blog.title %> </h5>
                    <p class="card-text"><%= blog.text.substring(0, 20) %>...</p>
                    <a class="btn btn-primary" href="/blogs/<%=blog._id%>">View <%=blog.title%></a>
                </div>
            </div>
        </div>
    </div>
    <% }%>
</div>
